extends base.pug

block body
    .container(class="mt-2")
        .row(class="row-cols-1 row-cols-md-2" id="list")
            each genre in genres
                .col()
                    a(href="/anime/"+genre.id class="text-decoration-none text-dark")
                        div(class="card mb-3" style="max-width: 540px;")
                            div(class="row g-0")
                                div(class="col-md-4")
                                    img(src=genre.image alt=genre.title class="img-fluid rounded-start")

                                div(class="col-md-8")
                                    div(class="card-body")
                                        h5(class="card-title") #{genre.title}
                                        p(class="card-text") #{genre.episode}
                                        p(class="card-text") #{genre.rating}      
                                        p(class="card-text") #{genre.genre}      
                                        p(class="card-text") #{genre.date}

        .row
            .col-12(class="d-flex justify-content-center mb-5")    
                button(class="btn btn-secondary" onclick="loadmore(this)") load more
    
    script.
        const id = "#{id}"
        let currentPage = 2;

        async function loadmore(el) {
            const morePage = await (
                await fetch(`/api/otakudesu/genres/${id}/?page=${currentPage}`)
                ).json();

            for (const more of morePage) {
                const div = document.createElement('div');
                div.classList.add("col");
                div.innerHTML = template(more);

                document.querySelector("#list").appendChild(div)
            }
            

            currentPage += 1;
        }

        function template(genre) {
            return `
                <a class="text-decoration-none text-dark" href="/anime/${genre.id}">
                    <div class="card mb-3" style="max-width: 540px;">
                        <div class="row g-0">
                            <div class="col-md-4">
                                <img class="img-fluid rounded-start" src=${genre.image} alt=${genre.title}>
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h5 class="card-title">${genre.title}</h5>
                                    <p class="card-text">${genre.episode}</p>
                                    <p class="card-text">${genre.rating}</p>
                                    <p class="card-text">${genre.genre}</p>
                                    <p class="card-text">${genre.date}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            
            `
        }