extends base.pug

append head
    link(href="https://vjs.zencdn.net/7.18.1/video-js.css" rel="stylesheet")

block prepend title
    title Watch #{anime.details[0].split(":")[1]} | Vinime Web stream

block body
    .container(class="my-4")
        .row 
            .col-12(class="col-md-8")
                .row
                    .col-12 
                        iframe(src=stream[resolution] allowfullscreen="true" webkitallowfullscreen="true" mozallowfullscreen="true" width="420" height="370")

                    .col-12
                        div(class="btn-group")
                            button(id="btn-file" class="btn btn-secondary btn-sm dropdown-toggle ms-2 mt-2" type="button" data-bs-toggle="dropdown" aria-expanded="false") Mirror 320p
                            ul(class="dropdown-menu")
                                each res, i in Array(stream.total.mirror360p)
                                    li: a(class="text-dark w-100" href=`/watch/${thisId}/?animeId=${id}&miror360=${i + 1}&resolution=360p`) 360p mirror #{i + 1}

                            button(id="btn-resolusi" class="btn btn-secondary btn-sm dropdown-toggle ms-2 mt-2" type="button" data-bs-toggle="dropdown" aria-expanded="false") Mirror 480p
                            ul(class="dropdown-menu")
                                each res, i in Array(stream.total.mirror480p)
                                    li: a(class="text-dark w-100" href=`/watch/${thisId}/?animeId=${id}&miror480=${i + 1}&resolution=480p`) 480p mirror #{i + 1}

                            button(id="btn-provider" class="btn btn-secondary btn-sm dropdown-toggle ms-2 mt-2" type="button" data-bs-toggle="dropdown" aria-expanded="false") Mirror 720p
                            ul(class="dropdown-menu")
                                each res, i in Array(stream.total.mirror720p)
                                    li: a(class="text-dark w-100" href=`/watch/${thisId}/?animeId=${id}&miror720=${i + 1}&resolution=720p`) 720p mirror #{i + 1}
                            

                .row(class="my-3")
                    .col-3
                        img(src=anime.image alt=id class="img-fluid") 
                    .col-9
                        each detail in anime.details
                            p= detail

                .row(class="mb-3") 
                    .col-12 
                        each sinopsis in anime.sinopsis
                            p= sinopsis

            .col-12(class="col-md-4")
                .row(class="mb-3") 
                    .col-12
                        ul.list-group
                            each episode, i in anime.episodes.reverse()
                                li.list-group-item
                                    a(href="/watch/" + episode.id + "/?animeId=" + id class="text-decoration-none") 
                                        //- |#{episode.judul}, 
                                        //- span(class="ms-auto")
                                        //- | #{episode.tanggal}
                                        | Tonton episode #{i + 1}

    script(src="https://vjs.zencdn.net/7.18.1/video.min.js")
    script(src="/js/stream.js")
            