.animeCard
    a(href="/anime/" + data.id) 
        img(src=data.image, alt=data.title class="img-fluid" height="100%")
        .dark-image
        p.anime-title #{data.title}
        p.anime-episode #{data.episode}
        p.anime-rilis #{data.hari}, #{data.tanggal}
